* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(7, 7, 7, 0.172)),
    url("atribut/Image.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.logo {
  font-size: 32px;
  color: #edce04;
  font-weight: bold;
}

.button-header {
  background: #edce04;
  color: rgb(0, 0, 0);
  border: none;
  padding: 13px 28px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.hero {
  margin-top: 210px;
  text-align: center;
  max-width: 100%;
  /* background-color: #e50914; */
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-size: 53px;
  font-weight: bold;
}

.hero-sub {
  font-size: 17px;
  margin-top: 2%;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.621);
}

div--button__button-header {
  background: #000000;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 4px;
  cursor: pointer;
  size: 20px;
}

/* .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 250px;
  background-color: red;
  text-align: center;
  margin: auto;
  max-width: 1200px;
  
}

.border-box {
  padding: 20px;
  background-color: black;
  border-radius: 5px;
} */

.features {
  padding: 80px 0;
  background-color: #040404;
  margin-top: 100px;
  margin-bottom: 100px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 0 100px;
}

.feature-card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.25s;
}

.feature-card:hover {
  transform: translateY(-6px);
  background: #141414;
}

.feature-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.showcase {
  background: #f9c300;
  padding: 80px 0;
  color: #000;
  padding-left: 200px;
}

.showcase-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.showcase-text h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  /* background-color: #ffffff; */
  /* padding-left: 200px; */
  padding-right: 50px;
  padding-top: 50px;
  /* padding-bottom: 50px; */
}

.showcase-text p {
  margin-bottom: 25px;
  opacity: 0.9;
  /* padding-left: 200px; */
  padding-right: 50px;
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
}

.poster {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding-right: 100px;
}

.showcase-text button {
  background: #000000;
  color: #ffffffa3;
  border: none;
  padding: 15px 30px;
  font-size: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.site-footer {
  background: #000;
  padding: 30px 0;
  text-align: center;
  color: #777;
  font-size: 14px;
}
